.appbar-container {
  overflow: hidden;
  .menus {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 7%;
    p {
      font-size: 1.3rem;
      position: relative;
      margin-left: 5%;

      &:hover {
        transition: all 0.2s;
        border-bottom: solid 2px orange;
        color: orange;
      }
    }
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

.input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;

    .send-btn {
      display: flex;
      &:hover {
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
      }
    }
  }
}
