.appbar-container {
  overflow: hidden;
  .menus {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 7%;
    p {
      font-size: 1.3rem;
      position: relative;
      margin-left: 5%;

      &:hover {
        transition: all 0.2s;
        border-bottom: solid 2px orange;
        color: orange;
      }
    }
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

.input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  margin-bottom: 3%;
  margin-top: 2%;

  form.homeForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;

    width: 100%;

    .textandbtn {
      flex-basis: 4;
      flex-shrink: 1;
      flex-grow: 4;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      #textarea {
        background-color: rgba(44, 39, 42, 0.1);
        border: none;
        border-radius: 10px;
        display: inline-block;
        transition: all 1s;
        width: 100%;
        &:hover {
          border: dashed rgba(44, 39, 42, 0.464) 0.1px;
          transition: all 1s;
        }
      }
    }
    .fileInput {
      margin: 0px;
      flex-basis: 1;
      flex-shrink: 3;
      flex-grow: 1;
    }
  }
}
